body{
    background-color: rgba(216, 214, 214, 0.23);
}
@media (max-width:1024px) {
    .search{
        padding-top: 80px;
        /* transform: translateX(-250%); */
        opacity: 0;
    }
}
@media (max-width:720px) {
    .search{
        margin-left: -20px;
    }
}
@media (max-width:630px) {
    .search{
        margin-left:-30px;
    }
}
@media (max-width:520px) {
    .search{
        margin-left: -40px;
    }
}

.search-hide{
    /* transform: translateX(-0%); */
    opacity: 1;
}
.search-durition{
    transition: 0.7s;
}
.close-3{
    display: none;
}
#menus{
    /* transform: translateY(-200%); */
    opacity: 0;
}
.menus-view{
    /* transform: translateY(0%) !important; */
    opacity: 1 !important;
}
.menus-durition{
    transition: 0.3s !important ;
}
.menutoggle-hide{
    display: none !important;
}
.close-2-view{
    display: flex;
}